<div data-cc-sidebar when-done-animating="vm.sidebarReady()">
    <div class="sidebar-filler"></div>
    <div class="sidebar-dropdown"><a href="#">Menu</a></div>
    <div class="sidebar-inner">
        <div class="sidebar-widget"></div>
        <ul class="navi">
            <li class="nlightblue fade-selection-animation" data-ng-class="vm.isCurrent(r)"
                data-ng-repeat="r in vm.navRoutes">
                <a href="#{{r.originalPath}}"
                   data-ng-bind-html="r.settings.content"></a>
            </li>
        </ul>
    </div>
</div>
<nav class="navbar navbar-fixed-bottom navbar-inverse">
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <ul class="nav navbar-nav pull-right">

                <li><a ui-sref="shell"><i class="fa fa-home" aria-hidden="true"> Home</i></a></li>
                <li><a ui-sref="topnav"><i class="fa fa-history"> About</i></a></li>
                <li><a ui-sref="item"><i class="fa fa-paw"> Items</i></a></li>
                <li><a ui-sref="dashboard"><i class="fa fa-dashboard"> Dashboard</i></a></li>
                <li class="dropdown dropdown-big">
                    <a ui-sref="http://www.angularjs.org" target="_blank">
                        <img src="content/images/AngularJS-small.png" />
                    </a>
                </li>
                <li>
                    <a ui-sref="http://developer.marvel.com/" target="_blank">Chat rooms</a>
                </li>
            </ul>
        </div>
    </div>
</nav>